/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255); /* テキストを見やすくするために白に変更 */
}

#kanji-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.kanji-item {
    font-size: 24px;
    color: black;
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    cursor: grab;
    border: 1px solid #ccc;
}

.kanji-item.disabled {
    background-color: #484242;
    cursor: not-allowed;
    pointer-events: none;
}

#drop-zone {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    padding: 10px;
    border: 2px dashed #888;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#reset {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* モーダルのスタイル */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

.modal-content {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

.modal-content ul {
    text-align: left;
}

#modal-ok {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
